html, body {
  height: 100%; /* sticky footer */
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.wrap {
  min-height: 100%; /* sticky footer */
}

#main_logo {
  margin-top: 30px;
  text-align: center;
}

#beast-wrap {
  height: 370px;
  margin-top: 150px;
  position: relative;
  width: 100%;
}

#beast_1 {
  left: 10%;
  position: absolute;
}

#beast_2 {
  left: 38%;
  position: absolute;
  z-index: 1;
}

#beast_3 {
  left: 65%;
  position: absolute;
}

.footer {
  clear:both;  /* sticky footer */
  height: 50px; /* sticky footer */
  margin-top: 50px; /* negative value of footer height sticky footer */
  width: 100%;

  color: #d3d3d3;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#link {
 color: #d3d3d3;
}

@media (max-width: 750px) { 

  #beast-wrap {
    height: 1030px;
    margin: 0 0 20px 0;
  }

  #beast_1 {
    left: 0;
    margin-top: -25px;
    position: relative;
  }

  #beast_2 {
    left: 0;
    margin-top: -25px;
    position: relative;
  }

  #beast_3 {
    left: 0;
    margin-bottom: 100px;
    margin-top: -25px;
    position: relative;
  }
 }
