html, body {
  height: 100%; /* sticky footer */
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 800px;
}

.wrap {
  min-height: 100%; /* sticky footer */
}

.main {
  overflow:auto;
  padding-bottom: 50px;}  /* must be same height as the footer -- sticky footer */
}

.main_logo {
  margin: 0 auto;
  padding: 50px 0 15px 0;
  position: relative;
  text-align: center;
}

#beast_1 {
  margin: 10px;
  position: absolute;
  left: 0px;
}

#beast_2 {
  margin: 10px;
  position: absolute;
  left: 331px;
}

#beast_3 {
  margin: 10px;
  position: absolute;
  right: 0px;
}

.footer {
  background-color: #D1D1D1;
  clear:both;  /* sticky footer */
  height: 50px; /* sticky footer */
  margin-top: -50px; /* negative value of footer height sticky footer */
  position: relative; /* sticky footer */
  width: 100%;
}
